---
import Layout from "@/layouts/Layout.astro";
const title = "早稲田大学アンサンブル・リドール Memberページ";

<Layout title={title}>
    <main>
        <div class="blogpage__l-container">
            <div class="blogpage__letter">
                <p class="blogpage__Blog_letter_b">M</p>
                <p class="blogpage__Blog_letter_l">e</p>
                <p class="blogpage__Blog_letter_o">m</p>
                <p class="blogpage__Blog_letter_g">b</p>
                <p class="blogpage__Blog_letter_b">e</p>
                <p class="blogpage__Blog_letter_l">r</p>
            </div>
            <p>サイト作成中です！公開までしばらくお待ちください。</p>
            <!-- <ShowMore /> -->
        </div>
    </main>
</Layout>
