---
import { getCarousel, getCarouselDetail } from "../lib/microcms";

const response = await getCarousel({ fields: ["topimage"] });
const { carouselId } = Astro.params;
const carousel = await getCarouselDetail(carouselId as string);
---

<div>
  <ul class="Carousel">
    {
      response.contents.map((carousel: any) => (
      <img src={carousel.topimage?.url } style="width: 600px; height: 450px; object-fit: cover;"/>
      ))
    }
</ul>
</div>
