---
import Event from '@/components/Event.astro'
const { height = '300px', top = '12px' } = Astro.props;

import { getConcert ,getConcertDetail} from "../lib/microcms";
const response = await getConcert({ 
  fields: ["id", "year", "summerplace", "summerdate", "time8", "time9", "time10", "time11", "time12", "time13", "time14"] 
});
const { concertId } = Astro.params;
const concert = await getConcertDetail(concertId as string);

// 各 Event の高さ・位置と、対応する timeX のキーを設定
const eventPositions = [
  { height: "75px", top: "12px", key: "time8" },
  { height: "75px", top: "88px", key: "time9" },
  { height: "75px", top: "164px", key: "time10" },
  { height: "75px", top: "239px", key: "time11" },
  { height: "75px", top: "314px", key: "time12" },
  { height: "75px", top: "389px", key: "time13" },
  { height: "75px", top: "464px", key: "time14" }
];
---

{
response.contents.slice(0, 1).map((concert: any) => (
  <div class="timetable">
    <h1>Time Table</h1>
    <div class="timetable__lump">
      <h2>{concert.summerdate}</h2>
      <div class="timetable__time">
        {
          eventPositions.map((event, index) => (
            concert[event.key] ? <Event key={index} height={event.height} top={event.top} /> : null
          ))
        }
        <p class="timetable__t">17:00</p>
        <p class="timetable__t">18:00</p>
        <p class="timetable__t">19:00</p>
        <p class="timetable__t">20:00</p>
      </div>
    </div>
  </div>
))
}
